<?xml version="1.0"?>
<configuration>
  <system.web>

    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

      <httpRuntime targetFramework="4.7.2" />
    
  </system.web>
<connectionStrings>
  <add name="NotificationSystemConnectionString1" connectionString="Data Source=(localdb)\mssqlLocalDB;Initial Catalog=NotificationSystem;Integrated Security=True" providerName="System.Data.SqlClient" />
<add name="NotificationSystemConnectionString3" connectionString="Data Source=(localdb)\mssqlLocalDB;Initial Catalog=NotificationSystem;Initial Catalog=NotificationSystem;Integrated Security=True" providerName="System.Data.SqlClient" />
<add name="NotificationSystemConnectionString5" connectionString="Data Source=(localdb)\mssqlLocalDB;Initial Catalog=NotificationSystem;Initial Catalog=NotificationSystem;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="NotificationSystem3" connectionString="Data Source=(localdb)\mssqlLocalDB;Initial Catalog=NotificationSystem;Integrated Security=True;"
     providerName="System.Data.SqlClient" />


</connectionStrings>
</configuration>
