<?xml version="1.0"?>
<configuration>
  <system.web>

    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

      <httpRuntime targetFramework="4.7.2" />
    
  </system.web>
<connectionStrings>
  <add name="myConn" connectionString="Data Source=OIT-L-BY10S73\SQLEXPRESS;Initial Catalog=NotificationSystem;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>
